@font-face {
    font-family: noot;
    src: url(/fonts/noot.ttf); 
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.ttf); 
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -25px; 
    left: 580px; 
}

h3 {
    font-family: norwester; 
    font-size: 26px;
}

.road-signs {
    top: -160px; 
    left: 100px;
    position: absolute;
}

.first-txt {
    position: absolute; 
    top: 210px; 
    left: 250px;
}

.second-txt {
    position: absolute; 
    top: 300px; 
    left: 655px; 
}

.third-txt {
    position: absolute; 
    top: 390px; 
    left: 660px; 
}

.fourth-txt {
    position: absolute; 
    top: 500px; 
    left: 615px; 
}
.fifth-txt {
    position: absolute; 
    top: 620px; 
    left: 630px; 
}

#goback_btn {
    font-family: norwester;
    font-size: 35px;
    color: #98e0e5; 
    background-color: white; 
    padding: 10px 20px;
    top: 640px; 
    left: 240px; 
    position: absolute; 
    border-radius: 12px; 
    border: 1px solid white; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}

.next p {
    font-family: norwester; 
    font-size: 35px; 
    background-color: white; 
    color: #98e0e5;
    bottom: 80px; 
    right: 220px;  
    padding: 10px 20px; 
    position: absolute; 
    border: 1px solid white; 
    border-radius: 12px; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}
