@font-face {
    font-family: noot;
    src: url(fonts/noot.otf);
    src: url(fonts/noot.eot); 
    src: url(fonts/noot.woff2); 
    src: url(fonts/noot.woff); 
    src: url(fonts/noot.ttf); 
    src: url(fonts/noot.svg);
}

@font-face {
    font-family: norwester;
    src: url(fonts/norwester.otf); 
    src: url(fonts/norwester.eot); 
    src: url(fonts/norwester.woff2); 
    src: url(fonts/norwester.woff); 
    src: url(fonts/norwester.ttf); 
    src: url(fonts/norwester.svg); 
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -25px; 
    left: 580px; 
}

h3 {
    font-family: norwester; 
    font-size: 25px;
}

.road-signs {
    top: -160px; 
    left: 100px;
    position: absolute;
}

.first-txt {
    position: absolute; 
    top: 230px; 
    left: 250px;
}

.second-txt {
    position: absolute; 
    top: 340px; 
    left: 655px; 
}

.third-txt {
    position: absolute; 
    top: 410px; 
    left: 660px; 
}

.fourth-txt {
    position: absolute; 
    top: 480px; 
    left: 615px; 
}
.fifth-txt {
    position: absolute; 
    top: 620px; 
    left: 630px; 
}