@font-face {
    font-family: noot;
    src: url(fonts/noot.otf);
    src: url(fonts/noot.eot); 
    src: url(fonts/noot.woff2); 
    src: url(fonts/noot.woff); 
    src: url(fonts/noot.ttf); 
    src: url(fonts/noot.svg);
}

@font-face {
    font-family: norwester;
    src: url(fonts/norwester.otf); 
    src: url(fonts/norwester.eot); 
    src: url(fonts/norwester.woff2); 
    src: url(fonts/norwester.woff); 
    src: url(fonts/norwester.ttf); 
    src: url(fonts/norwester.svg); 
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
}

h2 {
    font-family: norwester; 
    font-size: 45px; 
    color: black; 
}

.title1 {
    top: -50px; 
    left: 480px; 
    position: absolute; 
}

.title2 {
    top: 55px; 
    left: 495px; 
    position: absolute; 
}

.florida-sun {
    top: -100px; 
    left: -100px; 
    position: absolute; 
}

.florida-gator {
    top: 380px; 
    left: 990px; 
    position: absolute; 
}

.menu-bar-top {
    top: 70px; 
    left: 420px; 
    position: absolute; 
}

.menu-bar-middle {
    top: 220px; 
    left: 420px; 
    position: absolute; 
}

.menu-bar-bottom {
    top: 370px; 
    left: 420px; 
    position: absolute; 
}

.triangle-button-top {
    top: 275px; 
    left: 470px; 
    position: absolute; 
}

.triangle-button-middle {
    top: 425px; 
    left: 470px; 
    position: absolute; 
}
.triangle-button-bottom {
    top: 575px; 
    left: 470px; 
    position: absolute; 
}

.road-rules-text {
    top: 310px; 
    left: 630px; 
    position: absolute; 
}

.fun-facts-text {
    top: 460px; 
    left: 630px; 
    position: absolute; 
}

.landmarks-text {
    top: 610px; 
    left: 630px; 
    position: absolute; 
}