@font-face {
    font-family: noot;
    src: url(fonts/noot.otf);
    src: url(fonts/noot.eot); 
    src: url(fonts/noot.woff2); 
    src: url(fonts/noot.woff); 
    src: url(fonts/noot.ttf); 
    src: url(fonts/noot.svg);
}

@font-face {
    font-family: norwester;
    src: url(fonts/norwester.otf); 
    src: url(fonts/norwester.eot); 
    src: url(fonts/norwester.woff2); 
    src: url(fonts/norwester.woff); 
    src: url(fonts/norwester.ttf); 
    src: url(fonts/norwester.svg); 
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -5px; 
    left: 430px; 
}

.dirt-road-bottom {
    top: 415px; 
    left: -150px; 
    position: absolute; 
}

.dirt-road-top {
    top: 480px; 
    left: -150px;
    position: absolute
}

.road {
    top: 295px; 
    left: -125px; 
    position: absolute; 
}

.car {
    top: 275px; 
    left: -70px; 
    position: absolute; 
}

/*.menu-bar {
    top: -40px; 
    left: 350px; 
    position: absolute; 
}*/

.cloud-left {
    top: -200px; 
    left: -130px; 
    position: absolute; 
}

.tree-stump {
    top: 360px; 
    left: 1145px; 
    position: absolute; 
}

.cactus {
    top: 180px; 
    left: 930px; 
    position: absolute; 
}

.bush {
    top: 340px; 
    left: 825px; 
    position: absolute; 
}

.cloud-right {
    top: -110px; 
    left: 975px; 
    position: absolute; 
}

/*.arrow-button {
    top: 225px; 
    left: 450px; 
    position: absolute; 
}*/
