@font-face {
    font-family: noot;
    src: url(/fonts/noot.ttf); 
}

@font-face {
    font-family: norwester;
    src: url(/fonts/norwester.ttf); 
}


footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -5px; 
    left: 430px; 
}

h3 {
    font-family: norwester; 
    font-size: 45px;
    color: white;
    position: absolute; 
    top: 295px; 
    left: 320px; 
}
button {
    font-family: norwester;
    font-size: 30px;
    color: #155ac1; 
    padding: 10px 20px;
    top: 550px; 
    left: 450px; 
    position: absolute; 
    background: none;
    border: none; 
    cursor: pointer; 
    transition-duration: 0.4s; 
    margin-top: 100px;
    transform:translateY(-900px);
    transform:translateX(196px);
}
#finishTrip_btn {
    margin-top: 100px;
}

#stateSelect {
    border-color: black;
    color:black;
    background-color: white;
    border-radius: 15px;
    transform:translateY(-900px);
    transform:translateX(-540px);
}

.dirt-road-bottom {
    top: 415px; 
    left: -150px; 
    position: absolute; 
}

.dirt-road-top {
    top: 480px; 
    left: -150px;
    position: absolute;
}

.road {
    top: 295px; 
    left: -125px; 
    position: absolute; 
}

.car {
    top: 275px; 
    left: -70px; 
    position: absolute; 
}

/*.menu-bar {
    top: -40px; 
    left: 350px; 
    position: absolute; 
}*/

.cloud-left {
    top: -200px; 
    left: -120px; 
    position: relative;
    animation-name: float;
   animation-duration: 2s;
   animation-direction: alternate;
    animation-iteration-count: infinite;
}

.tree-stump {
    top: 360px; 
    left: 1145px; 
    position: absolute; 
}

.cactus {
    top: 180px; 
    left: 930px; 
    position: absolute; 
}

.bush {
    top: 340px; 
    left: 825px; 
    position: absolute; 
}

.cloud-right {
    top: -130px; 
    left: 250px; 
    position: relative;
     animation-name: float2;
   animation-duration: 2s;
   animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes float {
   0% { left: -130px; }
   15% {left: -120px; }
   20% {left: -110px; }
   25% {left: -90px; }
   50% {left: -80px; }
   60% {left: -70px; }
   70% {left: -60px; }
   100% {left: -50px; }
}
  @keyframes float2 {
   0% { left: 250px; }
   15% {left: 240px; }
   20% {left: 230px; }
   25% {left: 220px; }
   50% {left: 210px; }
   60% {left: 200px; }
   70% {left: 190px; }
   100% {left: 180px; }
}  

/*.arrow-button {
    top: 225px; 
    left: 450px; 
    position: absolute; 
}*/
