@font-face {
    font-family: noot;
    src: url(fonts/noot.otf);
    src: url(fonts/noot.eot); 
    src: url(fonts/noot.woff2); 
    src: url(fonts/noot.woff); 
    src: url(fonts/noot.ttf); 
    src: url(fonts/noot.svg);
}

@font-face {
    font-family: norwester;
    src: url(fonts/norwester.otf); 
    src: url(fonts/norwester.eot); 
    src: url(fonts/norwester.woff2); 
    src: url(fonts/norwester.woff); 
    src: url(fonts/norwester.ttf); 
    src: url(fonts/norwester.svg); 
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: black;
    background: rgb(186, 186, 186);
    font-family: norwester;
}

h1 {
    font-family: noot;
    font-size: 100px; 
    color: black;
    position: absolute; 
    top: -25px; 
    left: 580px; 
}

h3 {
    font-family: norwester; 
    font-size: 25px;
}

button {
    font-family: norwester;
    font-size: 30px;
    color: white; 
    padding: 10px 20px;
    top: 600px; 
    left: 637px; 
    position: absolute; 
    background-color: #155ac1;
    border-radius: 12px; 
    border: 1px solid #155ac1; 
    cursor: pointer; 
    transition-duration: 0.4s; 
}

input[type=text] {
    font-family: norwester;
    font-size: 35px; 
    width: 30%; 
    padding: 12px 20px; 
    margin: 20px; 
    background-color: white;
    border-radius: 4px; 
    box-sizing: border-box; 
    border: 1px solid white; 
    top: 330px; 
    left: 465px;
    position: relative; 
}

input[type=password] {
    font-family: norwester; 
    font-size: 35px; 
    width: 30%; 
    padding: 12px 20px; 
    margin: 20px; 
    background-color: white;
    border-radius: 4px; 
    box-sizing: border-box; 
    border: 1px solid white; 
    top: 330px; 
    left: 465px;
    position: relative; 
}